<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/edit.css">
  <title>Edit Your</title>
</head>
<body>
    <h1>Edit your Expense</h1>
      <form action="/treats/<%= treat._id %>?_method=PUT" method="POST">
      <input name="item" value="<%= treat.item %>">
      <input name="amount" value="<%= treat.amount %>">
      <input name="date" value="<%= treat.date %>">
      <button type="submit">Update</button>
      </form>
</body>
</html>